# All sub-directories
#*/Alpha/777/*/*
#*/Beta/777/*/*
#*.txt

**/Docs/*
**/SFML/*
**/SFML-2.4.2/*
**/.idea/*
**/.vscode/*
**/cmake-build-debug/*
**/cmake_modules/*
#**/risorse/*
**/*.txt
**/*.dll
**/*.cmake
!.cpp
